li {
  color: var(--font-color);
}



:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #eee;
  --heading-color: #292922;
  --card-bg-color: #fff;
}

.dark-theme {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #121212;
  --heading-color: #818cab;
  --card-bg-color: #1f1f1f;
}

.application {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--bg-color);
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: space-between;
}

.card {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  background: var(--card-bg-color);
}


